.frame_class {
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
.lgoo {
	position:absolute;
	left:5px;
	z-index:6;
}
.topdata {
	height:66px;
}

#BackTxt {
	position:absolute;
	left:12px;
	top:50px;
	z-index:2;
	text-decoration:none;
}
.search_subject {
	position:absolute;
	z-index:11;
	right:0;
	width:286px;
	top:37px;
	top:38px\0;
*top:37px;
}
.search_subject div. {
float:right;
position:relative;
z-index:1;
margin:5px 2px 0 0;
}
.input_subject {
	width:180px;
	font-weight:normal;
	margin-right:2px;
	margin-top:1px;
}
.search_subject .btn {
	width:95px;
	padding:0 0 2px 12px;
*padding:3px 0 0 8px;
	text-align:left;
	height:24px;
}
.search_subject .txt_outdiv {
	position:absolute;
	margin:0 0 0 1px;
}
.search_subject .smartsearch {
	position:relative;
	border:1px solid #BBB;
	background:#FFF;
	padding:1px 21px;
	height:18px;
	line-height:18px;
	margin:3px 5px 3px 2px;
	border-radius:2px;
	box-shadow:0 1px 1px #E6E6E6 inset;
}
.search_subject .smartsearch input.searchinput {
	background:#fff;
	width:100%;
*width:97%;
	height:18px;
	_height:16px;
	line-height:18px;
	font-size:12px;
	padding:0;
	margin:0;
	border:0;
	outline:none;
}
.search_subject .smartsearch_drop {
	position:absolute;
	top:24px;
	left:3px;
	width:276px;
	background:#fff;
	border:1px solid #ccc;
}
.ss_drop_wrap .menu_item, .ss_drop_wrap .menu_item_high {
	height:30px !important;
	line-height:30px !important;
	padding:0 !important;
}
.ss_drop_wrap .menu_bd {
	padding:0 !important;
}
.ss_drop_item a {
	display:block;
	height:16px;
	line-height:16px;
	padding:7px 8px;
	text-decoration:none;
	font-family:tahoma;
}
.ss_drop_split a {
	border-top:1px solid #eaeaea;
	padding:5px 8px 6px;
}
.ss_drop_item a:link, .ss_drop_item a:visited {
	color:#333;
}
.ss_drop_item a:hover, .ss_drop_item a:active {
	color:#fff;
	background:#3470CC;
	text-decoration:none;
}
.ss_drop_item_wrap .ss_drop_item a:link, .ss_drop_item_wrap .ss_drop_item a:visited {
	color:#333;
	background:transparent;
	text-decoration:none;
}
.ss_drop_item_wrap_hover .ss_drop_item a:link, .ss_drop_item_wrap_hover .ss_drop_item a:visited {
	color:#fff;
	background:#3470CC;
}
.ss_drop_item a .ss_icon {
	margin-right:8px;
}
.ss_drop_item a b {
	font-weight:normal;
	color:#1E5494;
	margin:0 4px;
}
.ss_drop_item a:hover b {
	color:#eaeaea;
}
.ss_drop_item_wrap .ss_drop_item a b {
	color:#1E5494;
}
.ss_drop_item_wrap_hover .ss_drop_item a b {
	color:#eaeaea;
}
.ss_fronticon, .ss_endicon {
	position:absolute;
}
.ss_fronticon {
	left:2px;
	top:2px;
}
.ss_endicon {
	right:2px;
	top:3px;
}
.ss_icon {
	width:18px;
	height:16px;
	display:inline-block;
	vertical-align:middle;
	background:url(/zh_CN/htmledition/images/smartsearch083516.png) no-repeat;
}
.ss_icon_search {
	background-position:-3px -3px;
}
.ss_icon_arrowdown {
	background-position:-27px -4px;
}
.ss_icon_return {
	background-position:-75px -4px;
}
.ss_icon_mail {
	background-position:-99px -4px;
}
.ss_icon_attach {
	background-position:-123px -4px;
}
.ss_icon_group {
	background-position:-99px -28px;
}
.ss_icon_note {
	background-position:-123px -28px;
}
a:hover .ss_icon_mail, .ss_drop_item_wrap_hover .ss_drop_item a .ss_icon_mail {
	background-position:-147px -4px;
}
a:hover .ss_icon_attach, .ss_drop_item_wrap_hover .ss_drop_item a .ss_icon_attach {
	background-position:-171px -4px;
}
a:hover .ss_icon_group, .ss_drop_item_wrap_hover .ss_drop_item a .ss_icon_group {
	background-position:-147px -28px;
}
a:hover .ss_icon_note, .ss_drop_item_wrap_hover .ss_drop_item a .ss_icon_note {
	background-position:-171px -28px;
}
.ss_icon_loading {
	background:url(/zh_CN/htmledition/images/ico_loading4083516.gif) no-repeat 3px 2px;
}
.imglogo {
	display:block;
	float:left;
}
.switch {
	display:block;
	float:left;
	margin:12px 0 0 0;
	line-height:18px;
}
.setinfo {
	heigsht:23px;
	margin:6px 8px 0 0;
*margin:8px 8px 0 0;
	text-align:right;
}
.totalmail {
	font-size:12px;
	font-weight:normal;
}
.myinfo {
	float:right;
	white-space:nowrap;
}
.somail {
	float:right;
	margin-top:-5px;
}
.somail .btn {
	font-weight:normal
}
.tipbg {
	background-color:transparent;
	margin:0;
	padding:0
}
.topline {
	height:11px;
}
.toplineimg {
	width:184px;
	height:22px;
}
.navbar {
	width:179px;
	height:107px;
	margin:0;
	list-style:none;
}
.navbar a {
	text-decoration:none;
	font-weight:bold;
	font-size:14px;
	font-family:"lucida Grande", Verdana;
}
.navbottom {
	width:179px;
	height:13px;
}
.sepline {
	font:normal 1px "lucida Grande", Verdana;
	line-height:0px;
	height:1px;
*height:2px;
	overflow:hidden;
	margin:5px 5px 0;
}
li.fs, li.fn, li.f_calender {
	height:23px;
	line-height:22px;
	padding-left:13px;
	padding-right:2px;
	margin:0 5px 3px;
}
li.f_calender {
	padding-left:20px;
}
li.fn a.nolinkbg:hover {
	color:#fff;
}
.fd_flow .fs, .fd_flow .fn {
	padding-left:0;
}
.myfdcut {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	width:135px;
	padding-left:24px;
}
.imglock {
	margin:-1px 2px 0 -10px;
}
#quicksearch_ico {
	background:url(/zh_CN/htmledition/images/newicon/compose0f10b1.png) 0 -312px no-repeat;
	width:19px;
	height:20px;
	padding:0;
	border:none;
}
#quicksearch_ico1 {
	background:url(/zh_CN/htmledition/images/newicon/compose0f10b1.png) no-repeat 0 -336px;
	width:19px;
	height:20px;
	padding:0;
	border:none;
}
#cpanelBtn {
	background:url(/zh_CN/htmledition/images/newicon/compose0f10b1.png) no-repeat 0 -264px;
	width:22px;
	height:18px;
	border:none;
}
.ico_att {
	background:url(/zh_CN/htmledition/images/newicon/compose0f10b1.png) no-repeat 0 0;
*background-position:0 0;
	width:16px;
	height:15px;
	padding:0;
	border:none;
}
.ico_attbig {
	background:url(/zh_CN/htmledition/images/newicon/compose0f10b1.png) no-repeat 0 -24px;
	width:16px;
	height:16px;
	padding:0;
	border:none;
}
.ico_attbig_disabled {
	background:url(/zh_CN/htmledition/images/newicon/compose0f10b1.png) no-repeat 0 -48px;
	width:16px;
	height:16px;
	padding:0;
	border:none;
}
.ico_addpic {
	background:url(/zh_CN/htmledition/images/newicon/compose0f10b1.png) no-repeat 0 -504px;
	width:14px;
	height:12px;
	padding:0;
	border:none;
	margin:-2px 3px 0 0;
	vertical-align:middle;
*margin-top:1px;
}
.moreupload {
	position:relative;
	margin:0 0 0 5px;
}
.ico_moreupload {
	background:url(/zh_CN/htmledition/images/newicon/compose0f10b1.png) no-repeat 0 -480px;
	display:inline-block;
	width:16px;
	height:14px;
	vertical-align:middle;
*vertical-align:bottom;
}
.icon_vote {
	background:url(/zh_CN/htmledition/images/newicon/compose0f10b1.png) no-repeat 0 -192px;
	width:16px;
	height:16px;
	padding:0;
	border:none;
	vertical-align:middle;
*vertical-align:auto;
	margin:2px 4px 0 0;
*margin:3px 4px 0 0;
	cursor:pointer;
}
.ico_input {
	border:none;
	padding:0;
	margin:0;
	width:16px;
	height:16px;
}
.ico_unreads {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -32px -32px no-repeat;
	margin:0 6px 1px 0
}
.ico_reads {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -112px 0 no-repeat;
	margin:0 6px 1px 0
}
.ico_unrss {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -32px -16px no-repeat;
	margin:0 5px 1px 0
}
.ico_remind_today {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -32px 1px no-repeat;
	margin:0 6px 0 0;
}
.ico_smsnotify_today {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) no-repeat;
	background-position:0 -141px;
*background-position:0 -143px;
	margin:0 0 0 0;
}
.ico_news_today {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) no-repeat;
	background-position:-15px -142px;
*background-position:-15px -144px;
	margin:0 6px 0 0;
}
.ico_manage {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -127px -79px no-repeat;
	vertical-align:middle;
*vertical-align:auto;
}
.ico_mailtitle {
	border:none;
	padding:0;
	margin:0;
}
.ico_mailtitle {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) 1px -82px no-repeat;
	width:26px;
	height:16px;
}
.ico_dkim {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -126px -61px no-repeat;
}
.rbody {
	margin:2px 7px 6px 4px;
	overflow:auto
}
.tbody ul {
	margin:0;
	padding:0;
	list-style:none;
}
.topbg {
	float:right;
	width:486px;
	height:66px;
}
.fdwidthmax {
	width:100px;
}
.mysidebar a:hover {
	text-decoration:underline;
}
.newskinbody ul.navbar li.fs input {
	float:left;
	border:0;
	padding:0;
	width:20px;
	height:20px;
	margin:-20px 0 0 12px;
*margin:-23px 0 0 2px;
}
.composebtn {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) 0 -1px no-repeat;
*background-position:0 0;
}
.checkbtn {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) 0 -33px no-repeat;
*background-position:0 -32px;
}
.addrbtn {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) 0 -63px no-repeat;
*background-position:0 -62px;
}
.newskinbody ul.navbar li.checkpart {
	margin:6px 10px 0 11px;
*margin:4px 10px 0 11px;
}
.newskinbody ul.navbar li.addrpart {
	margin:6px 10px 0 11px;
}
.newskinbody ul.navbar li.fs, .newskinbody ul.navbar li.fs a {
	height:24px!important;
}
.newskinbody ul.navbar li.fs a {
	line-height:24px;
	padding-left:41px;
}
.newskinbody ul.navbar li.composepart {
	margin:0 10px 0 11px;
	padding:2px 0 0 0;
	height:26px;
*height:22px;
}
#topDataTd {
	height:66px;
	overflow:hidden;
}
#sepLineTd {
	position:absolute;
	top:66px;
	left:0;
	right:0;
	height:11px;
}
#mainFrameContainer {
	position:absolute;
	top:80px;
	left:190px;
	bottom:0;
	right:0;
	overflow:hidden;
	z-index:4;
}
#mainFrame {
	width:100%;
_width:expression(document.body.offsetWidth - 192 + 'px');
	height:100%;
*height:expression(document.body.offsetHeight - 77 + 'px');
	z-index:5;
}
#leftPanel {
	position:absolute;
	top:77px;
	width:179px;
	left:8px;
	bottom:0;
	border-left:0 none;
	height:auto;
_height:expression(document.body.offsetHeight - 77 + 'px');
}
.bodybgbt {
	position:absolute;
	top:77px;
	width:179px;
	bottom:0;
_height:expression(document.body.offsetHeight - 77 + 'px');
}
#navBarDiv {
position:absolute:top:0;
	right:0;
	z-index:3;
}
.listflow {
	position:absolute;
	top:107px;
	left:0;
	right:0;
	bottom:13px;
	overflow:hidden;
	height:auto;
}
.folderDiv {
	margin:0 5px 0 6px;
	position:absolute;
	_position:none;
	top:0;
	left:0;
	bottom:0;
	right:0;
	height:100%;
_height:expression(document.body.offsetHeight - 197 + 'px');
	overflow:auto;
	overflow-x:hidden;
	_font-family:\5B8B\4F53;
}
#navBottomTd {
	position:absolute;
	bottom:0;
	height:13px;
	overflow:hidden;
	background-repeat:no-repeat;
}
.level_image {
	background-image:url(/zh_CN/htmledition/images/newicon/contact087169.gif);
	background-repeat:no-repeat;
	width:32px;
	height:16px;
}
.measure_image {
	background-image:url(/zh_CN/htmledition/images/newicon/measure087169.gif);
	background-repeat:no-repeat;
	width:32px;
	height:16px;
}
.level_1 {
	background-position:0 0;
}
.level_2 {
	background-position:-32px 0;
}
.level_3 {
	background-position:-64px 0;
}
.level_4 {
	background-position:-96px 0;
}
.level_5 {
	background-position:-128px 0;
}
.ico_tencent, .ico_sina, .ico_sohu {
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	position:relative;
	top:3px;
	top:0px\9;
	font-size:0;
	cursor:pointer;
}
.ico_tencent span, .ico_sina span, .ico_sofu span {
	display:none;
}
.ico_tencent {
	background:url(/zh_CN/htmledition/images/rss/miniblogs083515.png) no-repeat 0 0;
}
.ico_sina {
	background:url(/zh_CN/htmledition/images/rss/miniblogs083515.png) no-repeat -31px -1px;
}
.ico_sohu {
	background:url(/zh_CN/htmledition/images/rss/miniblogs083515.png) no-repeat -62px 0px;
}
.newskinbody li.fs, .newskinbody li.fn {
	padding-left:0;
	padding-right:0;
}
.newskinbody li.fs a, .newskinbody li.fn a {
	display:block;
	height:22px;
	overflow:hidden;
	padding-left:13px;
	text-decoration:none;
}
.newskinbody li.fs a.fdleft, .newskinbody li.fn a.fdleft, .newskinbody li.fs a.fdleft:hover, .newskinbody li.fn a.fdleft:hover {
	background:none;
	padding-left:0;
	margin-right:2px;
}
.newskinbody #my_note li.fs_sep a, .newskinbody li a.fdleft {
	display:inline;
	height:auto;
}
.newskinbody li.fs a.fdleft {
	color:#929292;
}
.newskinbody .empty_link {
	margin:-22px 2px 0 -32px;
	float:right;
}
.newskinbody li.fs_sep {
	white-space:nowrap;
	padding-left:9px;
}
.newskinbody #my_note li.fs_sep a, .newskinbody #my_note li.fs_sep .fn_list a {
	white-space:nowrap;
	padding:1px 4px 3px;
*padding:3px 4px 3px;
	border:none!important;
}
.newskinbody #my_note li.fs_sep a .img_lock, .newskinbody #my_note li.fs_sep .fn_list a .img_lock {
	padding-left:3px;
+margin-bottom:-6px;
	_margin-bottom:0;
}
.newskinbody #my_note li.fs_sep .fn_list {
	padding-left:0;
	padding-right:0;
}
.newskinbody li .fn_list a, .newskinbody #my_note li.fs_sep .fn_list a, .newskinbody #my_note li.fs_sep .fn_list a:visited, .newskinbody #my_note li.fs_sep .fn_list a:link, .newskinbody #my_note li.fs_sep .fn_list a:active, .newskinbody #my_note li.fs_sep .fn_list a:hover {
	text-decoration:none;
	background:none;
	color:#fff;
}
.newskinbody li .fd_on, .newskinbody li .fd_off {
	float:left;
	margin:-21px 0 0 0;
}
.icon_sms_s {
	margin:-16px 0 0;
}
#newfolders a.fdlist_width, #personalfolders a.fdlist_width, #SysFolderList a.sub_folder_1 {
	display:block;
	padding-left:25px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
#tagfolders a.fdlist_width {
	display:block;
	padding-left:28px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.sepline {
	height:0!important;
}
.sepline_height {
	height:4px;
	overflow:hidden;
}
#popfolders a.fdlist_width {
	display:block;
	padding-left:31px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	display:block
}
td, input, button, select, body {
	font-family:"Helvetica Neue", "lucida Grande", Verdana;
	font-size:12px;
}
h1, h2, h3, h4, h5, h6 {
	font-size:12px;
	font-weight:normal;
	margin:0;
}
ul, li {
	list-style:none;
}
input, textarea, a {
	outline:none;
}
form, body, ul, li {
	margin:0;
	padding:0;
}
select, body, textarea {
	background-color:#fff;
	font-size:12px;
}
select {
	font-weight:normal;
	font-size:12px;
	font-family:Tahoma;
	line-height:20px;
}
textarea {
	width:540px;
	border:1px solid #718da6;
	padding:3px;
	font-family:"lucida Grande", Verdana;
}
img {
	border:none
}
a {
	text-decoration:none;
	cursor:pointer;
	outline:none;
}
a:hover {
	text-decoration:underline;
}
#msgBoxDIV {
	z-index:999;
}
.msg, .errmsg {
	padding:3px 24px 3px;
*padding:5px 24px 4px;
	color:#fff;
	height:20px;
	line-height:18px;
	border-radius:3px;
}
.msg {
	background:#68af02;
*border-bottom:2px solid #68af02;
	z-index:99;
}
.errmsg {
	background:#ef8f00;
*border-bottom:2px solid #ef8f00;
	z-index:99;
}
.errmsg a, .errmsg a:link, .errmsg a:visited, .errmsg a:active, .errmsg a:hover {
	color:#fff;
}
.autosave {
	color:#fff;
	position:relative;
	height:19px;
	line-height:19px;
}
.autosave_txt {
	padding:0 6px;
	background:#4b981d;
}
.autosave1 {
	color:#fff;
	position:relative;
	background:#4b981d;
	height:19px;
	line-height:19px;
}
.verify, .verify_newwin {
	width:440px;
	height:240px;
	position:absolute;
	z-index:1020;
	border-right:2px solid #d8dee4;
	border-bottom:3px solid #d8dee4;
}
.tabtitle td {
	font-size:14px;
	line-height:28px;
	border-top-width:4px;
}
.tabtitle td a {
	height:100%;
	display:block
}
.settingTitle {
	font-size:14px;
	font-weight:bold;
	text-align:center;
	padding-top:5px;
	min-height:28px;
	_height:28px;
	float:left;
	width:100%
}
.settingSub {
	white-space:nowrap;
	font-size:14px;
	float:left;
	padding:5px 10px 6px;
	padding:8px 10px 4px\9;
}
.qm_conversation_divpad {
	padding:7px 0 12px 7px;
*padding:0px 0 12px 7px;
	margin-right:130px;
	min-width:500px;
}
.qm_converstaion_bd {
	margin:0 0 15px;
	clear:both;
	width:100%;
}
.qm_con_fold, .qm_con_expand {
	margin:0 0 15px 0;
}
.qm_con_fold .qm_con_bd_bottom {
	background-color:#fff;
}
.qm_con_body {
	border-width:1px;
*border-width:0px;
	border-style:solid;
	-moz-border-radius:6px;
	-khtml-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border-color:#c5c5c5;
	-webkit-box-shadow:2px 2px 4px #ddd;
	-moz-box-shadow:2px 2px 4px #ddd;
}
.qm_con_send_icon {
	margin:4px 10px 0 0;
*margin:0 10px 0 0
}
.qm_con_toolbar_bottom {
	background:#efefef;
	padding:6px 8px 8px;
*padding:6px 8px 3px;
	-moz-border-radius:0 0 5px 5px;
	-khtml-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	border-top:1px solid #d1d1d1;
}
.qm_con_toolbar_quickreply {
	background:#efefef;
	padding-left:8px;
	padding-bottom:8px;
}
.qm_con_toolbar_bottom a {
}
.qm_conversation_attachlist {
	padding:2px;
	margin:8px 15px 15px;
}
.qm_converstaion_summary_body {
	padding:5px;
*padding:0 5px;
	font-size:12px;
}
.qm_converstaion_moreoption {
	padding:0;
	_height:25px;
	min-height:25px;
	margin-top:0;
}
.qm_dispname {
	margin:0 0 5px 46px;
	padding:6px 6px 6px 5px;
*padding:6px 6px 6px 3px;
	background:#f2f2f2;
	border-top:1px solid #76a6c7;
	border-bottom:1px solid #eaeaea;
}
.qm_dispname a.green {
	text-decoration:none;
}
.qm_converstaion_body {
	font-size:14px;
	line-height:160%;
	padding:10px 15px 5px;
}
.qm_dispname .qm_right {
	margin:1px 0 0 0;
}
.qm_dispname .grn {
	font:bold 14px 'lucida Grande', Verdana;
}
.qm_converstaion_moreoption div {
	margin:0 0 5px 0;
}
.qm_conversation_enterlist {
	margin:2px 10px 3px 47px;
}
.qm_conversation_enterlist div {
	padding:2px 6px;
}
.qm_conversation_unread {
	width:12px;
	height:12px;
	position:absolute;
	margin:3px 0 0 42px;
	background:url(/zh_CN/htmledition/images/newicon/r_c087169.gif) no-repeat -96px 0;
}
.qm_conversation_backwhite {
	background:#fff;
}
#attach_desc div {
	line-height:18px;
}
.qm_iconMask {
	background:url(/zh_CN/htmledition/images/rss/mask_bai083515.gif) no-repeat;
	width:40px;
	height:40px;
}
.qm_conversation_readmoremail {
display:;
}
.qm_conversation_mailbd .qm_conversation_readmoremail {
	display:block;
}
.qm_conversation_readmoremail {
	margin:10px 0 0 0;
	color:#49449;
	font-family:Arial Narrow;
}
.qm_conversation_readmoremail a, .qm_conversation_readmoremail a:link, .qm_conversation_readmoremail a:hover, .qm_conversation_readmoremail a:visited {
	color:#49449;
	text-decoration:none;
}
.qm_action_input {
	margin:1px 0 0 0;
}
.qm_action_input img {
	cursor:pointer;
}
.qm_conversation_first_quickreply .bd_ccc {
	border-color:#e5e5e5;
	margin-top:1px;
}
.qm_conversation_first_quickreply #sendbtn {
}
.qm_con_toolbar_quickreply #source {
	width:420px;
	height:54px;
	overflow:auto;
}
.qm_conversation_input_meun {
	border:none;
	padding:0;
	width:12px;
	height:14px;
	background:url(/zh_CN/htmledition/images/ico_addattach083516.gif) no-repeat 0 0;
	vertical-align:text-bottom;
	cursor:pointer;
}
.qm_conversation_input_replyall {
	border:none;
	padding:0;
	width:14px;
	height:14px;
	background:url(/zh_CN/htmledition/images/newicon/r_c087169.gif) no-repeat -16px 0;
	vertical-align:text-bottom;
*vertical-align:;
	cursor:pointer;
	margin-right:3px;
}
.qm_conversation_input_reply {
	border:none;
	padding:0;
	width:14px;
	height:14px;
	background:url(/zh_CN/htmledition/images/newicon/r_c087169.gif) no-repeat -176px 0;
	vertical-align:text-bottom;
*vertical-align:;
	cursor:pointer;
	margin-right:3px;
}
.qm_conversation_input_fw {
	border:none;
	padding:0;
	width:14px;
	height:14px;
	background:url(/zh_CN/htmledition/images/newicon/r_c087169.gif) no-repeat -192px 0;
	vertical-align:text-bottom;
*vertical-align:;
	cursor:pointer;
	margin-right:3px;
}
.qm_conversation_input_del {
	border:none;
	padding:0;
	width:14px;
	height:14px;
	background:url(/zh_CN/htmledition/images/newicon/r_c087169.gif) no-repeat -128px 0;
	vertical-align:text-bottom;
*vertical-align:;
	cursor:pointer;
	margin-right:3px;
}
.qm_conversation_input_showmail {
	border:none;
	padding:0;
	width:14px;
	height:14px;
	background:url(/zh_CN/htmledition/images/newicon/r_c087169.gif) no-repeat -48px 0;
	vertical-align:text-bottom;
*vertical-align:;
	cursor:pointer
}
.qm_conversation_input_hidemail {
	border:none;
	padding:0;
	width:14px;
	height:14px;
	background:url(/zh_CN/htmledition/images/newicon/r_c087169.gif) no-repeat -32px -1px;
	vertical-align:text-bottom;
*vertical-align:;
	cursor:pointer
}
.qm_conversation_input_info {
	border:none;
	padding:0;
	width:14px;
	height:14px;
	background:url(/zh_CN/htmledition/images/newicon/r_c087169.gif) no-repeat -112px 0;
	vertical-align:text-bottom;
*vertical-align:;
}
.qm_conversation_input_addfriend {
	border:none;
	padding:0;
	width:14px;
	height:14px;
	background:url(/zh_CN/htmledition/images/newicon/r_c087169.gif) no-repeat -64px 0;
	margin-right:3px;
}
.attsep {
	padding:6px 7px;
	margin:-10px 0 7px 0;
}
#domnewRcpt {
	padding:7px;
}
#domnewRcpt .btn {
	margin-top:6px;
}
.reford_attach {
	padding:10px 7px 3px;
	margin:-10px 0 7px 0;
}
.reford_addrs {
	color:#333;
}
.reford_attach_more {
	padding:6px 7px;
	margin:-2px 0 7px 0;
}
.attsep .attchUploadstyle {
	font-size:0;
	width:100px;
	height:6px;
	overflow:hidden;
	border-width:2px;
	margin:0 5px 0 0;
	vertical-align:text-middle;
}
.attsep .attchUploadstyle .fdbody {
	height:6px;
	width:0;
	float:left;
	overflow:hidden;
	border:0;
	padding:0;
}
.attsep .upload_ctrl {
	color:red;
	margin-right:5px;
	cursor:default;
}
.att_bt {
	clear:both;
	margin:5px 0 10px;
	min-height:40px;
}
.att_bt .ico_big {
	float:left;
	margin:2px 8px 0 0
}
.att_bt .name_big {
	float:left;
}
.att_bt .name_big .down_big {
	margin-top:2px;
}
.att_bt a.a_name {
	color:#000;
	text-decoration:none
}
.att_tp {
	height:55px;
	float:left;
	margin:0 12px 10px 0;
	text-align:center;
}
.att_tp .name_big {
	white-space:nowrap;
	width:100px;
	overflow:hidden;
	height:24px;
	text-overflow:ellipsis;
}
.bigatt_bt {
	clear:both;
	margin-top:2px;
	overflow:hidden;
}
#attachment_BigAttach_bottom .bigatt_bt {
	padding-bottom:7px;
}
.bigatt_bt .down_big {
	margin-top:1px;
}
.bigatt_bt .ico_big {
	float:left;
	margin:2px 8px 0 0;
}
.bigatt_bt .name_big {
	margin-left:40px;
	word-wrap:break-word;
}
.bigatt_bt a.a_name {
	color:#000;
	text-decoration:none;
}
.head_label {
	padding:4px 0 0 0;
	line-height:18px;
}
.attachlist_in_head {
	_position:relative;
	_z-index:12;
	_zoom:1;
	_overflow:hidden;
}
.attachlist_in_head li {
	float:left;
	width:200px;
	height:24px;
	line-height:24px;
	margin-right:12px;
	_display:inline;
	padding:0 12px 0 0;
	border-right:1px solid #e5e5e5;
}
.attachlist_in_head_single li {
	border:none;
}
.attachlist_in_head .attachlist_item {
	position:relative;
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
	zoom:1;
	margin:0;
	padding:0;
}
.attachlist_in_head .attachlist_item img {
	float:left;
	vertical-align:middle;
	padding:4px 5px 0 4px;
}
.attachlist_in_head .attachlist_item .attach_name {
	color:#333;
	_width:92px;
	_display:block;
	_overflow:hidden;
}
.attachlist_in_head .attachlist_item .attach_name a {
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	color:#333;
}
.attachlist_in_head .attachlist_item .attach_size {
	float:right;
	color:#a0a0a0;
	font-size:11px;
	padding:0 4px;
	min-width:36px;
	_width:70px;
	text-align:right;
	opacity:1;
	visibility:none\9;
}
.attachlist_in_head .attachlist_item .attach_tools {
	position:absolute;
	right:0;
	top:0;
	padding-right:3px;
	height:100%;
	opacity:0;
	display:none\9;
	-webkit-transform:translate3d(5px, 0, 0);
	-moz-transform:translate3d(5px, 0, 0);
	transform:translate3d(5px, 0, 0);
}
.attachlist_in_head .attachlist_item .attach_tools a {
	display:block;
	float:left;
	width:12px;
	height:12px;
	line-height:12px;
	overflow:hidden;
	padding:6px 4px;
	background-image:url("/zh_CN/htmledition/images/newicon/attachlist_in_head_icons0cd04f.png");
	background-repeat:no-repeat;
	text-indent:-9999px;
	font-size:0;
	outline:none;
}
.attachlist_in_head .attachlist_item .attach_tools_download {
	background-position:4px 6px;
	opacity:.8;
}
.attachlist_in_head .attachlist_item .attach_tools_preview {
	background-position:4px -16px;
	opacity:.8;
}
.attachlist_in_head .attachlist_item .attach_tools_download:hover {
	opacity:1;
}
.attachlist_in_head .attachlist_item .attach_tools_preview:hover {
	opacity:1;
}
.attachlist_in_head .attachlist_item a:hover {
	text-decoration:none;
}
.attachlist_in_head .attachlist_item.item_hover {
	border-radius:3px;
	cursor:pointer;
}
.attachlist_in_head .attachlist_item.item_hover .attach_name, .attachlist_in_head .attachlist_item.item_hover .attach_name a, .attachlist_in_head .attachlist_item.item_hover .attach_size {
	color:#555;
	text-shadow:0 0 0 transparent, 0 -1px 0 #fff;
}
.attachlist_in_head .attachlist_item.item_hover .attach_size {
	opacity:0;
	visibility:hidden\9;
	-webkit-transition:all 0.1s ease-out;
	-moz-transition:all 0.1s ease-out;
	transition:all 0.1s ease-out;
}
.attachlist_in_head .attachlist_item.item_hover .attach_tools {
	opacity:1;
	display:block\9;
	-webkit-transform:translate3d(0, 0, 0);
	-moz-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out;
}
body {
	background:#fff;
}
.f_size {
	font-size:12px;
}
.f_family {
	font-family:\5B8B\4F53;
}
.b_size {
	font-size:14px;
}
.l_size {
	font-size:16px;
}
.bold {
	font-weight:bold;
}
.normal {
	font-weight:normal;
}
.txt_center {
	text-align:center
}
.txt_left {
	text-align:left
}
.txt_right {
	text-align:right
}
.nounderline {
	text-decoration:none
}
.black {
	color:#000;
}
.graytext, a.graytext:link, a.graytext:visited {
	color:#a0a0a0
}
.gray, a.gray:link, a.gray:visited {
	color:#494949;
}
.green, .grn, a.green:link, a.green:visited {
	color:#5fa207;
}
.red, .txt_red {
	color:#C00;
}
.underline {
	text-decoration:underline!important;
}
.alert_tips_yellow, .alert_tips_red, .alert_tips_blue {
	padding:6px 14px 4px 14px;
	margin:0;
	border:0;
}
.alert_tips_yellow {
	background:#FFF1B4;
}
.alert_tips_blue {
	background:#DAF0B2;
}
.alert_tips_red {
	background:#feb9b0;
}
input.txt {
	padding:0 0 0 2px;
	line-height:20px;
*line-height:21px;
}
input.txt, input.txt2, textarea.txt, .txt, .qm_txt {
	border:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
	border-left:1px solid #9a9a9a;
	background:url(/zh_CN/htmledition/images/newicon/today087169.gif) 0 -162px #fff repeat-x;
	outline:none;
	line-height:170%;
}
.inputRound {
	position:relative;
	background:#FFF;
}
.inputRound .roundTop {
	border-top:1px solid #7c7c7c;
	height:3px;
	zoom:1;
	background:url(/zh_CN/htmledition/images/newicon/today087169.gif) 0 -162px #fff repeat-x;
}
.inputRound .roundMid {
	border-left:1px solid #9a9a9a;
	border-right:1px solid #c3c3c3;
}
.inputRound .tl {
	width:4px;
	height:4px;
	position:absolute;
	top:0;
	left:-1px;
	overflow:hidden;
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -112px -144px no-repeat;
}
.inputRound .tr {
	width:4px;
	height:4px;
	position:absolute;
	top:0;
	right:-1px;
	overflow:hidden;
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -116px -144px no-repeat;
}
.inputRound .bl {
	width:4px;
	height:4px;
	position:absolute;
	bottom:-1px;
	left:-1px;
	overflow:hidden;
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -112px -148px no-repeat;
}
.inputRound .br {
	width:4px;
	height:4px;
	position:absolute;
	bottom:-1px;
	right:-1px;
	overflow:hidden;
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -116px -148px no-repeat;
}
.btn, button, .qm_btn {
	font-size:12x;
	padding-left:0px;
	padding-right:0px;
	padding-top:3px\9;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.btn, button, .qm_btn {
padding:2px 3px;
}
}
.btn_goback {
*height:23px;
*line-height:8px;
	font-size:12px;
}
.greenbutton {
	border:1px solid #488825;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.greenbutton input {
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	height:20px;
*line-height:20px;
	cursor:pointer;
	background:#62A026;
	color:#FFF;
	font-weight:bold;
	border:1px solid #7CB04A;
	padding:0 0 3px;
}
.greenbutton button {
	border:1px solid #488825;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	height:20px;
*line-height:20px;
	cursor:pointer;
	background:#62A026;
	color:#FFF;
	font-weight:bold;
	border:1px solid #7CB04A;
	padding:0 0 3px;
}
.greenbutton .button_big {
	font-size:14px;
	height:26px;
	line-height:26px;
}
.graybutton {
	border:1px solid #CCC;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.graybutton input {
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:2px;
	height:20px;
*line-height:20px;
	cursor:pointer;
	background:#EEE;
	color:#494949;
	font-weight:bold;
	border:1px solid #FFF;
	padding:0 0 3px;
}
.graybutton button {
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	height:20px;
*line-height:20px;
	cursor:pointer;
	background:#EEE;
	color:#494949;
	font-weight:bold;
	border:1px solid #FFF;
	padding:0 0 3px;
}
.graybutton .button_big {
	font-size:14px;
	height:26px;
	line-height:26px;
}
.wd1 {
	width:50px;
	margin:1px 1px 0 0;
}
.wd2 {
	width:64px;
	margin:1px 1px 0 0;
}
.wd3 {
	width:82px;
	margin:1px 1px 0 0;
}
.wd4 {
	width:100px;
	margin:1px 1px 0 0;
}
.sel {
	width:90px;
}
.btn_sepline {
	border-left:1px solid #9d9d9d;
*border-left:none;
	border-top:none;
*border-top:1px solid #9d9d9d;
	border-right:1px solid #fff;
	border-bottom:none;
*border-bottom:1px solid #9d9d9d;
	width:1px;
	height:18px;
	line-height:18px;
	padding:0;
	margin:1px 5px 0 4px;
	background:#9d9d9d;
	vertical-align:-5px\0;
+vertical-align:2px;
}
a.talk {
	text-decoration:none;
}
a.button_green_s, a.button_green_m, a.button_green_md, a.button_green_l, a.button_green_f, .msg_info a.button_green_s, .msg_info a.button_green_m, .msg_info a.button_green_md, .msg_info a.button_green_l, .msg_info a.button_green_f {
	display:block;
	height:22px;
	border:1px solid #236300;
	padding:0;
	margin:0;
	line-height:22px;
	background:#6b9f40 url(/zh_CN/htmledition/images/newicon/buttonbg087169.png) repeat-x 0 0;
	text-align:center;
	color:#fff!important;
	-webkit-box-shadow:0px 1px 0px #EEE;
	-moz-box-shadow:0px 1px 0px #EEE;
	box-shadow:0px 1px 0px #EEE;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
a.button_green_s:hover, a.button_green_s:focus, a.button_green_m:hover, a.button_green_m:focus, a.button_green_md:hover, a.button_green_md:focus, a.button_green_l:hover, a.button_green_l:focus, a.button_green_f:hover a.button_green_f:focus {
	background-position:0 -32px;
	text-decoration:none;
}
a.button_green_s:active, a.button_green_m:active, a.button_green_md:active, a.button_green_l:active, a.button_green_f:active {
	background-position:0 -64px
}
a.button_gray_s, a.button_gray_m, a.button_gray_md, a.button_gray_l, a.button_gray_f {
	display:block;
	height:22px;
	border:1px solid #bebebe;
	padding:0;
	margin:0;
	line-height:22px;
	background:#DDD url(/zh_CN/htmledition/images/newicon/buttonbg087169.png) repeat-x 0 -96px;
	text-align:center;
	color:#494949!important;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
a.button_gray_s:hover, a.button_gray_m:hover, a.button_gray_md:hover, a.button_gray_l:hover, a.button_gray_f:hover {
	background-position:0 -128px;
	text-decoration:none;
	color:#222!important;
}
a.button_gray_s:active, a.button_gray_m:active, a.button_gray_md:active, a.button_gray_l:active, a.button_gray_f:active {
	background-color:none;
	background-position:0 -160px;
	border:1px solid #bebebe;
}
a.button_green_s, a.button_gray_s {
	width:71px;
}
a.button_green_m, a.button_green_md, a.button_gray_m {
	width:90px;
}
a.button_green_l, a.button_gray_l {
	width:119px;
}
a.button_green_f, a.button_gray_f {
	padding:0 15px;
}
a.disabled:link, a.disabled:visited, a.disabled:hover, a.disabled:active {
	background:#EEE!important;
	color:#A0A0A0!important;
	cursor:default!important;
}
.msg_info a.button_green_s {
	width:71px;
}
.msg_info a.button_green_md, .msg_info a.button_green_m, .msg_info a.button_green_f {
	width:90px;
}
a.btn_blue, a.btn_red, a.btn_gray {
	display:inline-block;
	height:22px;
	line-height:22px;
	line-height:24px\9\0;
*line-height:24px;
	_overflow:hidden;
	padding:0 12px;
	margin:0;
	text-align:center;
	border-radius:3px;
}
a.btn_blue:focus, a.btn_red:focus, a.btn_gray:focus {
	border-color:#93d4fc;
	box-shadow:0 0 5px #60caff;
}
a.btn_blue:active, a.btn_red:active, a.btn_gray:active {
	outline:none;
}
a.btn_blue {
	border:1px solid #0d659b;
	color:#fff;
	color:#fff!important;
	background-color:#238aca;
	background:-moz-linear-gradient(top, #238aca, #0074bc);
	background:-webkit-linear-gradient(top, #238aca, #0074bc);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#238aca', endColorstr='#0074bc');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#238aca',endColorstr='#0074bc')";
}
a.btn_blue:hover {
	text-decoration:none;
	background-color:#238aca;
	background:-moz-linear-gradient(top, #2a96d8, #0169a9);
	background:-webkit-linear-gradient(top, #2a96d8, #0169a9);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a96d8', endColorstr='#0169a9');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a96d8',endColorstr='#0169a9')";
}
a.btn_blue:active {
	background-color:#238aca;
	background:-moz-linear-gradient(top, #0074bc, #238aca);
	background:-webkit-linear-gradient(top, #0074bc, #238aca);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0074bc', endColorstr='#238aca');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#0074bc',endColorstr='#238aca')";
}
.btn_disabled {
	opacity:0.4;
	filter:alpha(opacity=40);
	cursor:default!important;
}
a.btn_gray {
	border:1px solid #BEBEBE;
	color:#494949;
	color:#494949!important;
	background-color:#fff;
	background:-moz-linear-gradient(top, #fff, #f0efef);
	background:-webkit-linear-gradient(top, #fff, #f0efef);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0efef');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f0efef')";
}
a.btn_gray:hover {
	text-decoration:none;
	background:-moz-linear-gradient(top, #fefefe, #d8d7d7);
	background:-webkit-linear-gradient(top, #fefefe, #d8d7d7);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#d8d7d7');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe',endColorstr='#d8d7d7')";
}
a.btn_gray:active {
	background:-moz-linear-gradient(top, #d4d3d3, #f9f8f8);
	background:-webkit-linear-gradient(top, #d4d3d3, #f9f8f8);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d3d3', endColorstr='#f9f8f8');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d3d3',endColorstr='#f9f8f8')";
}
a.btn_big {
	height:28px;
	line-height:28px;
	line-height:26px\0;
	line-height:28px\9\0;
	font-size:14px;
	padding:0 16px;
}
.breadcrumbs {
	height:26px;
	overflow:hidden;
	border:1px solid #bebebe;
	border-width:0 0 0 1px;
	border-radius:2px 0 0 2px;
}
.breadcrumbs li {
	float:left;
	margin:0;
	padding:0;
	cursor:default;
	margin-left:-8px;
}
.breadcrumbs li a {
	position:relative;
	background:url(/zh_CN/htmledition/images/newicon/breadcrumbs0acb80.png) no-repeat right 0;
	color:#494949;
	float:left;
	padding:0 1.5em;
	line-height:26px;
	line-height:28px\9;
	outline:none;
	_background-image:url(/zh_CN/htmledition/images/newicon/breadcrumbs80acb80.png)
}
.breadcrumbs li a:hover, .breadcrumbs li a:focus {
	background-position:right -32px;
	color:#000;
	text-decoration:none;
}
.breadcrumbs li a:active {
	background-position:right -64px;
}
.breadcrumbs li .crumb_last {
	background:url(/zh_CN/htmledition/images/newicon/breadcrumbs0acb80.png) no-repeat right -96px;
	padding:0 1.5em;
	color:#808080;
	line-height:26px;
	max-width:460px;
	white-space:nowrap;
	overflow:hidden;
	_background-image:url(/zh_CN/htmledition/images/newicon/breadcrumbs80acb80.png);
}
.breadcrumbs li.crumb1 {
	z-index:10;
	margin-left:0;
}
.breadcrumbs li.crumb1 a {
	z-index:10;
	padding-left:1em;
}
.breadcrumbs li.crumb2 a {
	z-index:9;
}
.breadcrumbs li.crumb3 a {
	z-index:8;
}
.breadcrumbs li.crumb4 a {
	z-index:7;
}
.breadcrumbs li.crumb5 a {
	z-index:6;
}
.breadcrumbs li.crumb6 a {
	z-index:5;
}
.breadcrumbs li.crumb7 a {
	z-index:4;
}
.breadcrumbs li.crumb8 a {
	z-index:3;
}
#dndContainer {
	border-top:1px solid #b2b2b2;
	border-left:1px solid #b2b2b2;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	position:absolute;
	background:#fff;
	-moz-box-shadow:2px 2px 4px #DDDDDD;
	z-index:999;
	left:-400px;
	top:-386px;
	right:218px;
	overflow:hidden\9;
}
#html5_dragdrop_area {
	background:url(/zh_CN/htmledition/images/func/dragfile0aa5d8.gif) 30px 22px no-repeat;
}
.nowrap {
	white-space:nowrap;
}
.clr {
	clear:both;
	height:1px;
	overflow:hidden;
}
.clear {
	clear:both;
}
.cursorZoom {
	cursor:url(/zh_CN/htmledition/images/newicon/zbig087169.cur), auto;
	float:none;
}
.cursorZoomOut {
	cursor:url(/zh_CN/htmledition/images/newicon/zbig087169.cur), auto;
	float:none;
}
.hide {
	display:none;
}
.hidden {
	visibility:hidden;
	font-size:0;
}
.left, .qm_left {
	float:left;
}
.pointer {
	cursor:pointer;
}
.cur_default {
	cursor:default;
}
.right, .qm_right {
	float:right;
}
.txtflow, .tf {
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.tbody {
	_position:relative;
	padding:2px 7px 6px 4px;
}
.rounded3 {
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.rounded5 {
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.boxshadow5 {
	-webkit-box-shadow:0px 0px 5px #aaa;
	-moz-box-shadow:0px 0px 5px #aaa;
	box-shadow:0px 0px 5px #aaa;
}
.opa50 {
	opacity:0.5;
	filter:alpha(opacity=50);
}
.opa50Mask {
	opacity:0.5;
	filter:alpha(opacity=50);
	background:#000;
}
.unselect {
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:-moz-none;
	-o-user-select:none;
	user-select:none;
}
.txt_title {
	font-weight:bold;
	font-size:14px;
	font-family:"lucida Grande", Verdana;
	margin:4px 0 5px 8px;
}
.arrow_fontsize {
	font-size:11px;
*font-size:8px;
	font-family:arial, sans-serif;
	padding-bottom:5px;
	opacity:0.45;
	filter:alpha(opacity=45);
}
.arrow_fontsize_search {
	font-size:11px;
*font-size:9px;
	font-family:arial, sans-serif;
}
a.fn_list, a.fn_list:link, a.fn_list:visited, .fn_list a {
	text-decoration:none;
	color:#fff;
}
.bd_gray {
	border:1px solid #DDD;
}
li.fs, li.fn, li.f_calender {
	height:22px;
	line-height:22px;
	overflow:hidden;
	padding:0 2px 0 13px;
	line-height:auto;
	margin-bottom:1px;
	margin-top:0;
}
.fn_list {
	padding:0 2px 4px 2px;
	color:#fff;
}
.fn_list .red, .fn_list .txt_red {
	color:#fff;
}
.infobar {
	background:#fff9e3;
	border:1px solid #fadc80;
	color:#743e04;
	margin-bottom:10px;
	padding:8px 20px 4px 20px;
}
.iconMask {
	background:url(/zh_CN/htmledition/images/rss/mask_bai083515.gif) no-repeat;
	width:40px;
	height:40px;
}
.iconMask_gray {
	background:url(/zh_CN/htmledition/images/rss/mask_hui083515.gif) no-repeat;
	width:40px;
	height:40px;
}
.iconMask48 {
	background:url(/zh_CN/htmledition/images/rss/mask_bai083515.gif) no-repeat;
	width:48px;
	height:48px;
}
.iconMask_gray48 {
	background:url(/zh_CN/htmledition/images/rss/mask_hui48083515.gif) no-repeat;
	width:48px;
	height:48px;
}
.msg_info {
	line-height:20px;
	padding:0;
}
.msg_info .step_title {
	padding:12px;
}
.msg_info .btn_title {
	padding:5px 12px 3px 12px;
}
.msg_info .left, .msg_info .right {
	width:5px;
	height:5px;
	overflow:hidden;
}
.msg_info .content {
	padding:2px 8px 2px 10px;
	clear:both;
}
.msg_info .clear {
	clear:both;
	height:5px;
}
.mycontent {
	zoom:1;
}
.mycontent, .mycontent p, .mycontent font, .body, .body p, .body font, .gpcontent, .gpcontent font, .gpcontent p, .mycontent pre, .body pre, .gpcontent pre {
	line-height:170%;
}
.mycontent pre, .body pre, .gpcontent pre {
	white-space:pre-wrap;
*white-space:pre;
*word-wrap:break-word;
}
.body ul, .mycontent ul, .body ol, .mycontent ol {
	padding:15px;
}
.body ul li, .mycontent ul li {
	list-style-type:disc;
}
.body ol li, .mycontent ol li {
	list-style-type:decimal;
	list-style-position:inside;
}
.body a {
	text-decoration:underline;
}
.body .qm_conversation_readmoremail a {
	text-decoration:none;
}
.body .qm_conversation_readmoremail a:hover {
	background:#efefef;
}
.nomail {
	height:70px;
	line-height:70px;
	text-align:center;
}
.addr_line {
	font-size:14px;
	font-weight:bold;
	border-bottom:2px solid #aac9ea;
}
.msg_info .left, .rounded_pic .bd_left {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -96px -64px;
}
.msg_info .right, .rounded_pic .bd_right {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -101px -64px;
}
.msg_info .bottom_l, .rounded_pic .bd_left_bt {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -96px -69px;
}
.msg_info .bottom_r, .rounded_pic .bd_right_bt {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -101px -69px;
}
.barspace {
	padding:4px 7px;
}
.barspace1 {
	padding-right:7px;
}
.barspace2 {
	padding-left:9px;
}
.barspace3 {
	padding:5px 7px
}
.barspace4 {
	padding:5px 7px 0;
	height:26px;
}
.roundedTable {
}
.roundedTable .tl {
	width:4px;
	height:4px;
	overflow:hidden;
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -112px -144px no-repeat;
}
.roundedTable .tr {
	width:4px;
	height:4px;
	overflow:hidden;
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -116px -144px no-repeat;
}
.roundedTable .bl {
	width:4px;
	height:4px;
	overflow:hidden;
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -112px -148px no-repeat;
}
.roundedTable .br {
	width:4px;
	height:4px;
	overflow:hidden;
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -116px -148px no-repeat;
}
.roundedTable .ml {
	line-height:1px;
	font-size:1px;
	border-left:1px solid #9a9a9a;
	background:#FFF;
}
.roundedTable .mr {
	line-height:1px;
	font-size:1px;
	border-right:1px solid #c3c3c3;
	background:#FFF;
}
.roundedTable .mm {
	background:#FFF
}
.roundedTable .tm {
	line-height:1px;
	font-size:1px;
	overflow:hidden;
	border-top:1px solid #7c7c7c;
	background:url(/zh_CN/htmledition/images/newicon/today087169.gif) 0 -162px #fff repeat-x;
}
.roundedTable .bm {
	line-height:1px;
	font-size:1px;
	border-bottom:1px solid #c3c3c3;
	background:#FFF;
}
.toolheight .btn, .toolheight .qm_btn {
	float:left;
	margin:1px 1px 0 0;
}
.toolheight .btn_sepline {
	float:left;
	margin:3px 6px 0 6px;
}
.toolheight .sel, .toolheight .qm_sel {
	float:left;
	margin:2px 2px 0 0;
}
.toolheight .qm_sel {
	width:94px
}
.showarrow {
	margin:5px 0px 0px -5px;
	position:absolute
}
a.M, a.F {
	display:block;
	text-decoration:none;
}
a.M:link, a.M:visited, a.M:active {
	color:#000;
}
a.F:link, a.F:visited, a.F:active {
	color:#000;
}
a.M:hover, a.F:hover {
	background:#eaeaea;
	color:#000;
}
.M a:link, .M a:active, .M a:visited, .F a:link, .F a:active, .F a:visited {
	color:#000;
}
.X {
	display:block;
	float:left;
	margin:3px 0 0 0;
	padding-left:5px;
}
.Xatt {
	padding-left:5px;
}
.SA {
	float:left;
	width:14px;
	margin:3px 0 0 1px;
}
.hl {
	width:15px;
	padding:3px 0 0 0;
}
.ht {
	width:15px;
	height:15px;
	border:none;
	padding:0;
	background:url(/zh_CN/htmledition/images/ico_groupshow083516.gif) 2px 2px no-repeat;
	cursor:pointer;
}
.st {
	width:15px;
	height:15px;
	border:none;
	padding:0;
	background:url(/zh_CN/htmledition/images/ico_groupshow083516.gif) 2px -29px no-repeat;
	cursor:pointer
}
.hts {
	width:15px;
	height:15px;
	border:none;
	padding:0;
	background:url(/zh_CN/htmledition/images/newicon/ico_hts087169.gif) 4px 7px no-repeat;
	cursor:pointer;
}
.sts {
	width:15px;
	height:15px;
	border:none;
	padding:0;
	background:url(/zh_CN/htmledition/images/newicon/ico_sts087169.gif) 4px 7px no-repeat;
	cursor:pointer
}
.L {
	text-decoration:none;
	height:100%;
	cursor:pointer;
}
.D {
	display:block;
	padding:0;
	float:left;
	width:116px;
	cursor:pointer;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	margin:5px 10px 0 0;
}
.D u {
	text-decoration:none;
}
.K {
	display:block;
	position:absolute;
	margin:0!important;
	margin:0 0 0 -24px;
	margin:0 0 0 -24px;
	width:24px;
	height:20px;
	cursor:pointer;
	background:url(/zh_CN/htmledition/images/ico0aa5d9.gif) 0 -188px no-repeat;
	right:6px;
*right:auto;
}
.K1 {
	display:block;
	position:absolute;
	margin:0!important;
	margin:0 0 0 -24px;
	margin:0 0 0 -24px;
	width:24px;
	height:20px;
	cursor:pointer;
	background:url(/zh_CN/htmledition/images/ico0aa5d9.gif) 0 -206px no-repeat;
	right:6px;
*right:auto;
}
.R {
	display:block;
	padding:0;
	float:left;
	width:18px;
	height:16px;
	margin:5px 0 0 0;
	cursor:pointer;
}
.R_c {
	display:block;
	padding:0;
	float:left;
	width:40px;
	height:16px;
	margin:5px 0 0 0;
}
.Rr {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -48px -16px no-repeat;
}
.Ru {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -48px 0 no-repeat;
}
.Rc {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -48px -64px no-repeat;
}
.Rh {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -48px -32px no-repeat;
}
.Rz {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -48px -48px no-repeat;
}
.Ju {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -65px 0 no-repeat;
	cursor:pointer;
}
.Ti {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -48px -80px no-repeat;
}
.Ss {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -95px -123px no-repeat;
}
.Sf {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -63px -123px no-repeat;
}
.Sp {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -127px -123px no-repeat;
}
input.s1bg, .ico_profileTips {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -64px -31px no-repeat;
	border:0;
	padding:0;
	width:16px;
	height:14px;
	vertical-align:middle;
}
.ico_profileTips {
	width:15px;
	background-position:-64px -223px;
}
.default_avator {
	background:url(/zh_CN/htmledition/images/rss/male083515.gif) no-repeat 0 0;
	width:40px;
	height:40px;
	display:inline-block;
}
input.s2bg {
	background:url(/zh_CN/htmledition/images/newicon/shop087169.gif) 0 0 no-repeat;
	border:0;
	padding:0;
	width:16px;
	height:14px;
}
.ico_offline, .ico_online {
	display:inline-block;
	width:12px;
	height:10px;
	overflow:hidden;
	font-size:0;
	cursor:pointer;
	margin:0 3px 0 4px;
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) no-repeat 0 0;
}
.ico_offline {
	background-position:-32px -66px;
}
.ico_online {
	background-position:-32px -50px;
}
.Rw {
	width:8px;
	height:11px;
	margin:2px 0 0 0;
}
.posc {
	margin:0 5px 0 5px
}
.J {
	display:block;
	padding:0;
	float:left;
	width:24px;
*width:22px;
	margin:8px 0 0 0;
}
.body .J, .articleContent .J {
	float:none;
	width:auto;
}
.imflag, .imflag1 {
	position:absolute;
	margin:1px 0 0 0!important;
	margin:1px 0 0 122px;
	height:16px!important;
	height:23px;
	left:201px!important;
left:;
	cursor:default;
	padding:6px 1px 0 2px;
}
.H {
	display:block;
	padding:0;
	float:left;
	width:8px!important;
	width:12px;
	margin:6px 0 0 0;
}
.S_w1 {
	display:block;
	padding:0;
	float:left;
	cursor:hand;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	margin:5px 0 0 0;
	width:36%;
*width:expression(document.body.clientWidth - 440);
}
.S_w {
	display:block;
	padding:0;
	float:left;
	cursor:hand;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	margin:5px 0 0 0;
	width:46%;
*width:expression(document.body.clientWidth - 380)
}
.T {
	display:block;
	margin:0;
	float:right;
	width:62px!important;
	width:98px;
	padding:5px 48px 0 0!important;
	padding:5px 0 0 0;
	text-align:left;
}
.T_k {
	display:block;
	margin:0;
	float:right;
	width:46px!important;
	width:72px;
	padding:5px 25px 0 0;
	text-align:right;
}
.T_s {
	display:block;
	margin:0;
	float:right;
	width:82px!important;
	width:92px;
	margin:5px 5px 0 0;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.T_memo {
	display:block;
	margin:0;
	float:right;
	text-align:left;
	width:110px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	padding:5px 0 0 0;
}
.Z {
	display:block;
	float:left;
	width:8px;
	margin:7px 0 0 0;
}
.Z1 {
	display:block;
	float:left;
	width:12px;
	margin:7px 0 0 0;
}
.Zh {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -64px -15px no-repeat;
}
.o_title {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c3e.png) -128px 0 repeat-y;
	margin:0;
	padding:0 0 0 15px;
	height:21px;
	line-height:21px;
}
table.O2 {
	border-top:1px solid #fff;
	color:#3b3b3b;
}
table.O2 td {
	border-bottom:1px solid #c1c8d2;
	background-color:#f2f4f6;
	padding-top:0;
*padding-top:2px;
}
td.o_title2 {
	background:url(/zh_CN/htmledition/images/newicon/mail0f6c
